:root {
  --header-background-color: #2d313d;
  --header-menu-color: #646d81;
  --header-font-color: #727989;
  --main-background-color: #f2f4f8;
  --aside-menu-font-color: #99a1b3;
  --subheader-font-color: #4f9cd4;
  --aside-panel-width: 170px;
}

button,
input {
  all: unset;
}

.mobile {
  display: none;
}

body {
  color: #8f8f8f;
  font: 12px Arial, sans-serif;
  background-color: white;
  margin: 0 auto;
  width: 100%;
  display: flex;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header-wrapper {
  justify-content: space-between;
  align-content: center;
  background-color: var(--header-background-color);
  height: 60px;
  align-items: center;
}

.header-navigation {
  height: 40px;
  background-color: var(--header-menu-color);
  padding-left: 15px;
}

.header-navigation__item a {
  color: var(--main-background-color);
  display: inline-block;
  padding: 7px 0 12px;
  margin-right: 26px;
  font: 14px Arial;
  border-top: solid var(--header-menu-color) 5px;
}

.header-menu,
.header-menu__user-profile,
.article__post-info {
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

input[type='text'].header-menu_search-input {
  display: none;
}

.logo {
  width: 60px;
}

.article__name {
  align-content: center;
  align-items: flex-start;
}

.header-menu i {
  font-size: 18px;
}

.header-menu a,
i {
  color: var(--header-font-color);
}

main {
  margin: 0 auto;
  bottom: 0;
  min-height: 100vh;
  width: 100%;
}

h1 {
  display: none;
  color: var(--header-font-color);
  font-size: 0px;
  margin: 0px;
}

.header-menu__page-dropdown a {
  margin: 0 6px 0 22px;
  font: 14px Arial;
}

h2 {
  font: 30px Georgia;
  color: black;
}

h3 {
  color: var(--subheader-font-color);
  font: bold 16px Arial;
  padding: 5px 0 5px;
}

a,
li {
  text-decoration: none;
}

.header-logo-image {
  width: 32px;
  height: 20px;
  margin: 18px 0 18px 6px;
}

aside {
  margin-top: 120px;
  min-width: var(--aside-panel-width);
  max-width: var(--aside-panel-width);
}

aside ul li {
  padding: 9px 28px 9px 23px;
  border-left: solid white 5px;
}

aside a {
  color: var(--aside-menu-font-color);
  font: 14px Arial;
}

section {
  height: 100%;
  padding-top: 100px;
  padding-bottom: 150px;
  border-left: solid #e0e4ed 1px;
}

.flex-container-row,
.flex-container-column {
  display: flex;
}

.flex-container-row {
  flex-direction: row;
}

.flex-container-column {
  flex-direction: column;
}

.section.flex-container__item {
  height: auto;
}

.section__title-pane {
  max-height: 85px;
  padding: 30px 0 20px 30px;
  justify-items: center;
  flex-wrap: nowrap;
}

.section__title-pane div {
  align-items: center;
  align-content: center;
}

.section__actions-pane {
  color: var(--aside-menu-font-color);
  background-color: var(--main-background-color);
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
}

figure {
  margin: 30px;
}

figure > img {
  width: 60px;
  height: 60px;
}

footer {
  width: calc(100vw - (100vw - 100%));
  position: fixed;
  left: var(--aside-panel-width);
  bottom: 0;
  right: 0;
  background-color: var(--main-background-color);
  color: var(--aside-menu-font-color);
}

.footer-menu {
  background-color: #f2f4f8;
  padding-left: 28px;
  border-bottom: solid white 1px;
}

ul.footer-menu__items li {
  text-decoration: none;
  display: inline-block;
  padding: 14px 0;
  margin-right: 18px;
  color: var(--aside-menu-font-color);
}

ul.footer-menu__items a {
  color: var(--aside-menu-font-color);
}

footer p {
  font-size: 12px;
}

nav a {
  display: inline-block;
}

.copy img {
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.copy {
  background-color: #f2f4f8;
  padding: 14px 0 14px 28px;
}

.submenu {
  margin-top: 32px;
  padding: 9px 28px 9px 23px;
  font: 18px Georgia;
  color: black;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}

.label-membership {
  padding: 5px 15px;
  background-color: #f2f4f8;
  border-radius: 5px;
  margin-left: 26px;
}

article {
  margin-left: 15px;
}

.article__name {
  align-items: baseline;
}

.post {
  color: black;
  font-size: 14px;
  padding-bottom: 14px;
}

.fa-angle-down,
.fa-envelope,
.header-menu__user-profile {
  padding-right: 32px;
}

.fa-bell {
  padding-right: 27px;
}

.fa.fa-sliders,
.fa.fa-plus,
.fa.fa-search {
  font-size: 18px;
}

.header-menu__user-profile-name {
  font-size: 14px;
  padding-right: 10px;
}

.fa-search,
.article__info > div {
  padding-right: 10px;
}

.city-name {
  border-bottom: dashed 1px;
}

.section__title-pane a,
.section__title-pane i {
  color: black;
  margin-left: 10px;
}

input[type='text'] {
  padding-left: 10px;
  outline: none;
  -webkit-appearance: none;
  font: 14px Arial;
  width: 150%;
  height: 40px;
  border: solid #d6d9e1 1px;
  border-radius: 5px;
  display: inline-block;
  background: url(../images/search.png) no-repeat 260px 9px;
  background-color: white;
}

.post__navigation {
  justify-content: center;
  align-items: center;
}

button.post__navigation_button {
  margin-right: 10px;
  padding: 10px 18px 10px 13px;
  border: solid #99a1b3 1px;
  border-radius: 4px;
}

.post__navigation_button > span {
  font: 14px Arial;
}

.fa.fa-angle-right {
  margin-left: 12px;
}

.fa.fa-angle-left {
  margin-right: 12px;
}

button.post__navigation_button:hover {
  cursor: pointer;
  background-color: var(--subheader-font-color);
  font-size: 20px;
  color: whitesmoke;
  transform: scale(1.1), translate(0, 0);
  -webkit-transform: scale(1.1), translate(0, 0);
  -moz-transform: scale(1.1), translate(0, 0);
  -ms-transform: scale(1.1), translate(0, 0);
  -o-transform: scale(1.1), translate(0, 0);
}

.submenu__item:hover {
  cursor: pointer;
  border-color: var(--header-menu-color);
  color: var(--header-menu-color);
}

nav .hmbrg {
  display: none;
}
nav.hamburger-menu {
  width: 34px;
  height: auto;
  position: absolute;
  top: 27px;
}

nav.hamburger-menu .h-menu {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  left: 7px;
  cursor: pointer;
  opacity: 0;
  z-index: 3;
  -webkit-touch-callout: none;
}
nav.hamburger-menu .h-menu:checked ~ .links {
  left: 8px !important;
}

nav.hamburger-menu .hmbrg {
  position: absolute;
  left: 10px;
  top: 2px;
}
nav.hamburger-menu em {
  display: block;
  width: 34px;
  height: 3px;
  border-radius: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  opacity: 1;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}
nav.hamburger-menu em:first-child {
  transform-origin: 0% 0%;
}
nav.hamburger-menu em:nth-last-child(2) {
  transform-origin: 0% 100%;
}
nav.hamburger-menu input:checked ~ span em {
  opacity: 1;
  transform: rotate(45deg) translate(-9px, -15px);
}
nav.hamburger-menu input:checked ~ span em:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0, 0);
}
nav.hamburger-menu input:checked ~ span em:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(-4px, 12px);
}

@media (max-width: 499px) {
  :root {
    --aside-panel-width: 0px;
  }

  aside u,
  aside li,
  h2 > span {
    display: none;
  }

  .article__post-info.flex-container-row {
    flex-direction: column;
    align-items: flex-start;
  }

  input[type='text'].section__actions-pane-search-input {
    width: 100%;
    background-position-x: 90%;
    transition-property: width;
    transition: linear;
    -webkit-transition: linear;
    -moz-transition: linear;
    -ms-transition: linear;
    -o-transition: linear;
  }

  .mobile {
    display: flex;
  }
  span.mobile {
    margin: 0 13px;
    font-size: 20px;
    color: white;
  }

  .header-logo,
  .header-menu__page-dropdown,
  .header-menu__notifier-icon,
  .header-menu__mail,
  .header-menu__user-profile-name,
  .header-navigation {
    display: none;
  }

  .header-menu__user-profile > span {
    content: '';
  }
  .header-wrapper {
    height: 84px;
  }

  .header-wrapper.flex-container-row {
    align-items: center;
    justify-content: center;
    padding-left: 60px;
  }

  .header-menu__user-profile {
    padding-right: 15px;
  }

  .fa-search {
    font-size: 20px;
    color: white;
  }

  .fa.fa-search.mobile {
    color: inherit;
  }

  .header-menu__user-profile-avatar {
    content: url(../images/userPhotoBig.jpg);
    width: 45px;
    height: 45px;
    border-radius: 4px;
  }

  .section__actions-pane-search,
  .section__actions-pane-add-item {
    display: none;
  }
  .fa.fa-plus,
  .fa.fa-search.mobile,
  .fa.fa-sliders {
    font-size: 28px;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .fa.fa-plus {
    margin-left: 50%;
  }

  .section {
    padding-top: 84px;
  }
  .hamburger-menu .links {
    left: -100%;
    top: 84px;
    position: fixed;
    transition: all 0.5s ease;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    background: var(--header-background-color);
    display: block;
  }

  .links > li {
    padding: 10px;
  }

  .links > li > a {
    font: 18px 'Arial', san-serif;
    color: white;
  }
  .links > li > a:hover {
    color: var(--header-menu-color);
  }
  .hamburger-menu .h-menu {
    display: flex;
  }
  .hamburger-menu .hmbrg {
    display: inline-block;
  }
  .post__navigation_button-label>span{
    display: none;
  }

  .fa.fa-angle-right {
    margin-left: 0;
  }
  
  .fa.fa-angle-left {
    margin-right: 0;
    
  }

  .fa.fa-angle-left,
  .fa.fa-angle-right
  {
    font-size: 18px;
  }
  .post__navigation_button{
    padding: 10px;
  }
}

@media (min-width: 500px) and (max-width: 766px) {
  :root {
    --aside-panel-width: 0px;
  }
  h2 {
    margin: 0 auto;
  }

  i.mobile,
  aside u,
  aside li,
  nav.hamburger-menu input[type='checkbox'].h-menu {
    display: none;
  }

  input[type='text'].section__actions-pane-search-input {
    width: 100%;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
}
@media (min-width: 767px) {
  i.mobile,
  nav.hamburger-menu input[type='checkbox'].h-menu {
    display: none;
  }
}
